.capa{
	padding: 40px;
	text-align: center;
	border:  1px solid red;
}

/*==================imagens====================*/
.imagens_de_fundo{
	position: relative;

}

.imagens_de_frente{
	position: absolute;
	position: absolute; 
	left: 50%; 
	margin-left: -40px; 
	top: 14%; 
	margin-top: -75px;
}

/*====================formulario================*/

.formulario {
	text-align: center;
	padding: 20px 30px 20px 30px;
	border: 1px solid white;

}

.imagemFacebook{
	height: 20px;
	width: 20px;
	background-size: contain;
}

.img-instagram{
	margin-top: 20px;
	margin-bottom: 20px;
}

#opcoesEntrada{
	background: none;
	width: 250px;
	margin: 15px 0px;
}

.form-group{
	margin: 5px 0px 5px 0px;
	font-size: 11px;
}

.form-control{
	font-size: 12px;
	margin: 0px;
}

.imagensObterAplicativo{
	width: 136px;
	height: 36px;
	margin-right: 5px;
}

#cadastra-se {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid white;
}

#obterAplicativo{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*==============foooter==============*/

.footer{
	border: 1px solid blue;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 10px;
	float: auto;
}

.servicos{
	text-align: center;
	font-size: 12px;
}

.servicos > a{
	margin-right: 10px;
	color: #8e8e8e;
}

.idioma_ano{
	border: 1px solid orange;
	margin-top: 15px;
	color: #8e8e8e;
	text-align: center;
	font-size: 12px;
}

.idioma_ano a{
	color: #8e8e8e;
}




/*================tipografia ================*/

#opcoesEntrada a{
	font-size: 14px;
	color: #385185;
	font-weight: 700;
	text-decoration: none;
}

 h4 a{
	font-size: 12px;
    color: rgba(var(--fe0,0,55,107),1);
    text-decoration: none;
}

#cadastra-se > h3,#obterAplicativo > h3{
	font-size: 15px;
}

#cadastra-se > h3 > a{
	color: #0095f6;
}

.idioma_ano a{
	margin-right: 15px;
}



button{
	margin: 20px 0px 20px 0px;
}

p{
	margin-bottom: 20px;
}

.btn{
	margin-bottom: 15px;
}